$white-one: #ffffff;
$white-mask-one: rgba(255, 255, 255, 0.8);
$white-mask-two: rgba(255, 255, 255, 0.6);
$white-mask-three: rgba(255, 255, 255, 0.4);
$white-mask-four: rgba(255, 255, 255, 0.2);
$white-mask-five: rgba(255, 255, 255, 0.1);

// $black-one: #110c00;
$black-one: #262727;
// $black-one: #292929;
// $black-two: #1a1a1a;

// $black-mask-one: rgba(26, 26, 24, 0.6);
// $black-mask-two: rgba(26, 26, 24, 0.4);
// $black-mask-three: rgba(26, 26, 24, 0.2);
// $black-two: #000000;

$grey-one: #494949;

$orange-one: #d78113;
// $orange-two: #ed9c32;
// $orange-three: #f0b160;
$orange-four: #f5c88e;

// $blue-one: #2fd2cd;

// $cream-one: #fffaee;
// $cream-two: #ffebbb;

// $blue-one: rgb(50, 96, 138);
// $blue-two: #254664;
// $blue-three: #172c3f;

// $yellow-one: #ffec00;
// $yellow-two: #fee305;
// $yellow-three: #f9bf16;

// $brown-one: #332400;

// $red-one: #d24a43;

// $trasparent: rgba(0, 0, 0, 0);

// $gradient-page-primary: linear-gradient(159deg, $cream-one 30%, $cream-two 70%, $brown-one 100%);
// $gradient-card-primary: linear-gradient(180deg, $white-one 80%, rgba(50, 96, 138, 0.2) 100%);

// $gradient-line-right: linear-gradient(to left, $trasparent 0%, $black-one 20%);
// $gradient-line-left: linear-gradient(to right, $trasparent 0%, $black-one 20%);
// $gradient-yellow-one: linear-gradient(0.439turn, $yellow-one 0%, $yellow-three 100%);
// $gradient-blue-one: linear-gradient(0.439turn, $blue-one 0%, $blue-three 100%);

// $shadow-one: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

// $padding-x: 1rem;

$br-xs: 6px;
$br-s: 8px;
$br-m: 10px;
$br-l: 14px;
$br-xl: 24px;
$br-xxl: 40px;

// $screen-hd: 1920px; // h-1080
$screen-xxl: 1600px; // h-900
// $screen-xl: 1440px; // h-900
// $screen-l: 1280px; // h-800
// $screen-m: 1024px; // h-768
// $screen-s: 767px; // h-1024
$screen-xs: 390px; // h-844
