$white-one: #ffffff;
$white-mask-one: rgba(255, 255, 255, 0.8);
$white-mask-two: rgba(255, 255, 255, 0.6);
$white-mask-three: rgba(255, 255, 255, 0.4);
$white-mask-four: rgba(255, 255, 255, 0.2);
$white-mask-five: rgba(255, 255, 255, 0.1);

$black-one: rgb(38, 39, 39);
$black-mask-one: rgba(38, 39, 39, 0.05);
$black-mask-two: rgba(38, 39, 39, 0.8);
$black-mask-three: rgba(38, 39, 39, 0.6);

$orange-one: rgb(255, 147, 0);
$orange-four: rgb(255, 191, 102);

$deep-blue-one: #254666;
$deep-blue-two: rgb(50, 96, 138);
$deep-blue-three: rgb(21, 167, 235);

$mask-trasparent: rgba(0, 0, 0, 0);

$gradient-white-one: linear-gradient(to left, $mask-trasparent 0%, $mask-trasparent 30%, $white-mask-three 100%);
$gradient-blue-one: linear-gradient(148deg, $white-mask-five 10%, $deep-blue-one 100%);

$shadow-one: rgba(38, 39, 39, 0.2) 0px 7px 29px 0px;

$br-xs: 6px;
$br-s: 8px;
$br-m: 10px;
$br-l: 14px;
$br-xl: 24px;
$br-xxl: 40px;

// $screen-hd: 1920px; // h-1080
$screen-xxl: 1600px; // h-900
// $screen-xl: 1440px; // h-900
// $screen-l: 1280px; // h-800
// $screen-m: 1024px; // h-768
// $screen-s: 767px; // h-1024
// $screen-xs: 390px; // h-844
